<%= form_tag jobs_path, method: :get do %>
  <p>
    企業名
    <%= text_field_tag :company_name, @params[:company_name] %>
  </p>
  <p>
    下限〜上限
    <%= text_field_tag :income_lower, @params[:income_lower] %>万円
    〜
    <%= text_field_tag :income_upper, @params[:income_upper] %>万円
  </p>
  <p>
    スキル
    <% @skills.each do |skill| %>
      <label>
        <%= check_box_tag 'skill_ids[]', skill.id, @params[:skill_ids]&. include?(skill.id.to_s) %>
        <%= skill.name %>
      </label>
    <% end %>
  </p>
  <p>
    <%= submit_tag '検索' %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        企業
      </th>
      <th>
        企業ロゴ
      </th>
      <th>
        求人名
      </th>
      <th>
        下限〜上限
      </th>
      <th>
        スキル
      </th>
      <th>
        詳細
      </th>
    </tr>
  </thead>
  <tbody>

    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= job.id %>
        </td>
        <td>
          <%= job.company.name %>
        </td>
        <td>
          <%= image_tag job.company.logo, style: 'max-height: 60px; width: auto;' if job.company.logo.attached? %>
        </td>
        <td>
          <%= job.title %>
        </td>
        <td>
          <%= job.income_lower %>万円
          〜
          <%= job.income_upper %>万円
        </td>
        <td>
          <% job.skills.each do |skill| %>
            <%= skill.name %><br>
          <% end %>
        </td>
        <td>
          <%= link_to '詳細', job_path(job) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
